<h2>Search results</h2>

<div id="search_user">
  <% if ! @query.nil? %>
    <span class="result_text"><%= @results.size %> user results for the query: "<%= @query %>"</span>
    <div class="search_users_list">
      <%= render :partial => "userslist", :locals => {:users => @results} %>
    </div>
  <% else %>
    <em>Use the search box above to search for Users and works.</em>
  <% end %>

</div>

<div id="search_work">
  <% if ! @query.nil? %>
    <span class="result_text"><%= @results_w.size %> work results for the query: "<%= @query %>"</span>
    <div class="search_works_list">
      <%= render :partial => "user/workslist", :locals => {:works => @results_w, :edit => false, :ratable=>false} %>
    </div>
  <% else %>
    <em>Use the search box above to search for Users and works.</em>
  <% end %>
</div>

<br/>

<div id="recent_user">
  <h3>Users with recent activity</h3>

  <div class="search_users_list">
    <%= render :partial => "userslist", :locals => {:users => @recent_users} %>
  </div>
</div>

<div id="recent_work">
  <h3>Works with recent activity</h3>

  <div class="search_works_list">
    <%= render :partial => "user/workslist", :locals => {:works => @recent_works, :edit => false, :ratable=>false} %>
  </div>
</div>
