<% 
# Extra column needed?
ec = false;
if @errors != nil 
	ec = true
end
%>

<div id="reg_form">
<h2>User Registration</h2>
<br/>
<%= form_tag({:action => :create}, :method => "post")  %>
<table>
	<tr><td>Name:</td><td><%= text_field_tag :name, @old_params[:name] %></td><td><em><%= (ec && @errors[:name] != []) ? @errors[:name] : "" %></em></td></tr>
	<tr><td>Handle:</td><td><%= text_field_tag :handle, @old_params[:handle] %></td><td><em><%=(ec && @errors[:handle] != []) ? @errors[:handle] : "" %></em></td></tr>
	<tr><td>Email:</td><td>  <%= text_field_tag :email, @old_params[:email] %></td><td><em><%= (ec && @errors[:email] != []) ? @errors[:email] : "" %></em></td></tr>
	<tr><td>Confirm Email:</td><td>  <%= text_field_tag :cemail, @old_params[:cemail] %></td><td></td></tr>
	<tr><td>Show Name?:</td><td> <%= check_box_tag :showname, @old_params[:showname] %></td><td></td></tr>
	<tr><td>Show Email?:</td><td> <%= check_box_tag :showemail, @old_params[:showemail] %></td><td></td></tr>
	<tr><td>Recieve Notifications?:</td><td> <%= check_box_tag :notify, @old_params[:notify] %></td><td></td></tr>
	<tr><td>Password:</td><td> <%= password_field_tag :pass1 %></td><td></td></tr>
	<tr><td>Confirm Password:</td><td> <%= password_field_tag :pass2 %></td><td></td></tr>
</table>
<div id="recaptcha">
<%= recaptcha_tags :display => {:theme => "white"}%>
</div>
<p>By signing up to this website you are hereby agreeing to not be an idiot and to treat this site, other users, and yourself with dignity and respect.</p>
<%= submit_tag "Register", :class =>"button" %>
</form>
</div>
