<h3>Edit works</h3>

  <div id="workeditform">
    <h3>Works</h3>
    <div id="worklist">
      <%= render :partial => "workslist", :locals => {:works => @user.works} %>
    </div>
    <%= form_tag(  url_for( :action => :create_work), :remote => true) %>
    <table>
		<tr><th colspan="2">Add Work</th></tr>
		<tr><td>Name:</td><td><%= text_field_tag :name %> </td></tr>
		<tr><td>Decription:</td><td><%= text_area_tag :description %> </td></tr>
		<tr><td>URL:</td><td><%= text_field_tag :url %> </td></tr>
    </table>
    <%= submit_tag "Add" %>
    </form>
  </div>
</div>
