<% if @user %>
<%= link_to "<-- Back to Profile", user_name_path(@user[:handle]), :class => "white"  %>
<div id="edit_tags">
  <h2> Edit Tags </h2>

    <p>Enter tags here that describe your programming experience.</p>
    <em>These will not be publically shown but will further
    aid in indexing your profile for more accurate searching.</em>
    <p/>

  <div id="tageditform">
    <h3>Tags</h3>
    <div id="taglist">
      <%= render :partial => "taglist", :locals => {:tags => @user.tags} %>
    </div>
    <%= form_tag(  url_for( :action => :create_tag), :method => "post", :remote => true) %>
    <table><tr>
    <td>Add new tag [commas for multiple tags]</td><td><%= text_field_tag :tag %> </td>
    </tr></table>
    <%= submit_tag "Add" %>
    <%= link_to "remove all tags", 
            user_remove_all_tags_path(:handle => session[:user]),
            :remote => true,
            :confirm => "Are you sure?",
						:class => "white" %>
    </form>
  </div>
</div>

<% else %>
<em>You have come here in error</em>
<% end %>
