<% require_dependency 'gravatar' %>
<% if @vuser %>
	<div id="user">
		<div id="infobox">
			<div id="userav">
				<img src="<%= Gravatar.getAvatarURL(@vuser[:email]) %>" />
			</div>
			<div id="userinfo">
				<h3>Info</h3>
				<ul>
					<% if @vuser[:showname] %>
					<li>Name: <%= @vuser[:name]%></li>
					<% end %>
					<li>Handle: <%= @vuser[:handle]%></li>
					<% if @vuser[:showemail] %>
					<li>Email: <%= @vuser[:email]%></li>
					<% end %>
					<% if @vuser.affiliations.length > 0 %>
					<li>Affliations:</li>
					<ul>
						<% @vuser.affiliations.each do |affil| %>
							<li><%= affil.name %></li>
						<% end %>
					</ul>
					<% end %>
				</ul>
			</div>
			<div id="menubox">
				<h3>Menu</h3>
				<ul>
					<% if @vuser[:handle] == session[:user] %>
					<li><%= link_to 'Edit info?', user_edit_path %></li>
					<li><%= link_to 'Edit tags?', user_tags_path %></li>
					<li><%= link_to 'Edit works?', user_works_path %></li>
					<% else %>
					<li>Message</li>
					<% end %>
				</ul>
			</div>
		</div>
		<div id="workinfo">
			<h2>Works</h2>
			<div id="userworklist_repop">
			<%= render :partial => "workslist", :locals => {:works => @vuser.works, :edit => false, :ratable => true} %>
			</div>
		</div>
	</div>
<% else %>
	<h2>Whoops!</h2>
	<p> This person doesn't exist! May I suggest you use the search bar.</p>
<% end %>
