<!DOCTYPE html>
<html>
<head>
  <title>import::require</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>

<h1>import::require</h1>
<div id="banner" class="rounded5">
<% if session[:user] %>                                          
	<p> Welcome, <%= session[:user].handle %>. <%=link_to "Logout?", logout_path %></p>
<% else %>
	<%= form_tag(login_path :method => "post") %>
	Handle: <%= text_field_tag :name, nil, :size => 10 %> <br/>
	Pass: <%= text_field_tag :pass, nil, :size => 10 %>
	</form>
<% end %>
</div>

<% if flash[:notice] %>
<div id="notice">
	<p><%=flash[:notice]%></p>
</div>
<% end %>

<div id="content" class="rounded5">
<%= yield %>
</div>

</body>
</html>
