<!DOCTYPE html>
<html>
<head>
  <title>import::require</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag 'application','controls', 'dragdrop', 'effects', 'prototype', 'rails' %>
  <%= csrf_meta_tag %>
</head>
<body>

<h1>import::require</h1>
<div id="banner" class="rounded5">
<% if session[:user] %>                                          
	<p> Welcome, <%= session[:user] %>. <%=link_to "Logout?", logout_path, :class => "top" %></p>
<% else %>
	<%= form_tag(login_path, :method => "post") %>
	Handle: <%= text_field_tag :handle, nil, :size => 8 %> 
	Pass: <%= password_field :pass, nil, :size => 8 %> 
	<%= hidden_field_tag :ocontroller, params[:controller] %> 
	<%= hidden_field_tag :oaction, params[:action] %> 
	<%= submit_tag 'Login' %>
	</form>
<% end %>
</div>

<% if flash[:notice] %>
<div id="notice">
	<p><%=flash[:notice]%></p>
	<% flash[:notice] = nil %>
</div>
<% end %>

<div id="content" class="rounded5">
<%= yield %>
</div>

</body>
</html>
