<% require_dependency 'gravatar' %>
<!DOCTYPE html>
<html>
<head>
  <title>import::require</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag 'application','controls', 'dragdrop', 'effects', 'prototype', 'rails' %>
  <%= csrf_meta_tag %>
  <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
  <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
</head>
<body>

<h1>import::require</h1>
<div id="banner" class="rounded5">
  <a href="/" class=logo_link><img src="images/blank.png"/></a>
  <div id="search_box">
    <%= form_tag(search_path, :method => "post") %>
    Search: <%= text_field_tag :search_query, nil, :size => 15 %> 
    <%= submit_tag '?' %>
    </form>
  </div>
  <div id="logwelcome">
  <% if session[:user] %>                                          
    <p> Welcome, <%=link_to session[:user], user_name_path(session[:user]), :class => "top" %>.</p>
    <p id="sec"> <%=link_to "Inbox#{unread_mail(session[:user])}", inbox_path(), :class => "top" %> | <%=link_to "Logout?", logout_path, :class => "top" %></p>
  <% else %>
    <%= form_tag(login_path, :method => "post") %>
    Handle: <%= text_field_tag :handle, nil, :size => 5 %> 
    Pass: <%= password_field :pass, nil, :size => 5 %> 
    <%= hidden_field_tag :ocontroller, params[:controller] %> 
    <%= hidden_field_tag :oaction, params[:action] %> 
    <%= submit_tag 'Login' %>
    </form>
    <p class="top_reg">New User? <%= link_to "Register", register_path, :class =>"white" %></p>
  <% end %>
  </div>
</div>

<% if flash[:notice] %>
<div id="notice">
	<p><%=flash[:notice]%></p>
	<% flash[:notice] = nil %>
</div>
<% end %>

<div id="content" class="rounded5">
<%= yield %>
</div>

<br/>
<hr/>
<div id="footer" class="rounded5">
<p>import::require &copy; 2011<p>
| 
<a href="http://importrequire.wordpress.com" target="_blank">blog</a>
|
<%= link_to "help", help_path %>
|
<iframe src="http://www.facebook.com/plugins/like.php?app_id=109276079159107&amp;href=https%3A%2F%2Fwww.facebook.com%2Fpages%2FImportrequire%2F188212911208549&amp;send=false&amp;layout=button_count&amp;width=450&amp;show_faces=true&amp;action=recommend&amp;colorscheme=light&amp;font=verdana&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:98px; height:21px;margin:0" allowTransparency="true"></iframe>
|
<a href="http://www.twitter.com/importrequire" target="_blank"><img src="http://twitter-badges.s3.amazonaws.com/twitter-a.png" alt="Follow importrequire on Twitter" height="21px"/></a>
|
<img src="http://l.yimg.com/hr/img/delicious.small.gif" height="20" width="20" alt="Delicious" />
<a href="http://www.delicious.com/save" onclick="window.open('http://www.delicious.com/save?v=5&noui&jump=close&url='+encodeURIComponent(location.href)+'&title='+encodeURIComponent(document.title), 'delicious','toolbar=no,width=550,height=550'); return false;"> Bookmark this on Delicious</a>
</div>

</body>
</html>
