<% require_dependency 'gravatar' %>
<!DOCTYPE html>
<html>
<head>
  <title>import::require</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag 'application','controls', 'dragdrop', 'effects', 'prototype', 'rails' %>
  <%= csrf_meta_tag %>
</head>
<body>

<h1>import::require</h1>
<div id="banner" class="rounded5">
  <a href="/" class=logo_link><img /></a>
  <div id="search_box">
    <%= form_tag(search_path, :method => "post") %>
    Search: <%= text_field_tag :search_query, nil, :size => 20 %> 
    <%= submit_tag '?' %>
    </form>
  </div>
  <div id="logwelcome">
  <% if session[:user] %>                                          
    <p> Welcome, <%=link_to session[:user], user_name_path(session[:user]), :class => "top" %>. <%=link_to "Logout?", logout_path, :class => "top" %></p>
  <% else %>
    <%= form_tag(login_path, :method => "post") %>
    Handle: <%= text_field_tag :handle, nil, :size => 8 %> 
    Pass: <%= password_field :pass, nil, :size => 8 %> 
    <%= hidden_field_tag :ocontroller, params[:controller] %> 
    <%= hidden_field_tag :oaction, params[:action] %> 
    <%= submit_tag 'Login' %>
    </form>
    <p id="top_reg">New User? <%= link_to "Register", register_path %></p>
  <% end %>
  </div>
</div>

<% if flash[:notice] %>
<div id="notice">
	<p><%=flash[:notice]%></p>
	<% flash[:notice] = nil %>
</div>
<% end %>

<div id="content" class="rounded5">
<%= yield %>
</div>

<br/>
<hr/>
<div id="footer" class="rounded5">
<p>import::require &copy; 2011<p> | <a href="http://importrequire.wordpress.com" target="_blank">blog</a>
</div>

</body>
</html>
